<form {{action "saveContact" contact on="submit"}}>
  {{paper-input value=contact.name label="Name" icon="person" icon-class="name" class="test-contact-name"}}
  {{#unless isContactNameValid}}
    <span class="alert-danger test-contact-name-validation">Contact name is required</span>
  {{/unless}}
  {{#paper-subheader class="md-no-sticky"}}Email Addresses{{/paper-subheader}}
  {{#paper-list}}
    {{#each contact.contactEmails as |email|}}
      {{#unless email.isDeleted}}
        {{#paper-item}}
          {{paper-input type="email" placeholder="Email" icon="email" icon-class="email" value=email.address class=(concat "test-contact-email" (if email.isNew ' test-new-email'))}}
          {{#paper-button icon-button=true action=(action "removeEmail" email) class="test-remove-email"}}
            {{paper-icon "delete"}}
          {{/paper-button}}
        {{/paper-item}}
      {{/unless}}
    {{/each}}
    {{#paper-item}}
      <a href="#" class="test-add-email" {{action "addEmail"}}>
        {{paper-icon "add-circle-outline"}}Add another email address
      </a>
    {{/paper-item}}
  {{/paper-list}}
  {{paper-divider}}

  {{#paper-list}}
  {{#paper-subheader class="md-no-sticky"}}Phone Numbers{{/paper-subheader}}
    {{#each contact.contactPhones as |phone|}}
      {{#unless phone.isDeleted}}
        {{#paper-item}}
          {{paper-input type="tel" value=phone.number class=(concat "test-contact-phone" (if phone.isNew ' test-new-phone')) placeholder="Phone Number" icon="phone" md-no-float=''}}
          {{#paper-button icon-button=true action=(action "removePhone" phone) class="test-remove-phone"}}
            {{paper-icon "delete"}}
          {{/paper-button}}
        {{/paper-item}}
      {{/unless}}
    {{/each}}
    {{#paper-item}}
      <a href="#" class="test-add-phone" {{action "addPhone"}}>
        {{paper-icon "add-circle-outline"}}Add another phone number
      </a>
    {{/paper-item}}
  {{/paper-list}}
  {{paper-divider}}
  {{#paper-button type="submit" raised=true primary=true class="test-save-contact"}}Save{{/paper-button}}
</form>