{{#paper-list}}
  {{#each sortedContacts as |contact|}}
      {{#paper-item class="test-contact"}}
        <p class="test-contact-name">
          {{#link-to 'contacts.edit' contact.id}}
            {{contact.name}}
          {{/link-to}}
        </p>
        <p class="test-contact-primary-email">
          {{#if contact.primaryEmail}}
            <a href="mailto:{{contact.primaryEmail.address}}">
              {{contact.primaryEmail.address}}
            </a>
          {{/if}}
          {{#if contact.alternateEmailCount}}
            (+{{contact.alternateEmailCount}})
          {{/if}}
        </p>
        <p class="test-contact-primary-phone">
          {{#if contact.primaryPhone}}
            <a href="tel:{{contact.primaryPhone.number}}">
              {{format-phone contact.primaryPhone.number}}
            </a>
          {{/if}}
          {{#if contact.alternatePhoneCount}}
            (+{{contact.alternatePhoneCount}})
          {{/if}}
        </p>
      {{/paper-item}}
    {{paper-divider}}
  {{/each}}
{{/paper-list}}